@model IEnumerable<MrFixIt.Models.Job>
@{
}


<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>

@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <div id="result-@Job.JobId">
                <form action="ClaimJob" class="claim">
                    <input type="hidden" name="JobId" value="@Job.JobId" />
                    <button type="submit">Claim this Job</button>
                </form>
            </div>
        }
        else
        {
            <div>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</div>
        }
    </ul>
    <hr />
}

<script>
    $(".claim").submit(function (event) {
        event.preventDefault();
         $.ajax({
            url: '@Url.Action("ClaimJob")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'json',
            success: function (result) {
                var resultMessage = 'This Job is claimed by ' + result.worker.firstName +  " " + result.worker.lastName;
                $('#result-' + result.jobId).html(resultMessage);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                window.alert('guy error' + xhr.responseText + thrownError)
            }
        });
    });
</script>


@*
        var resultMessage = 'This Job is claimed by ' + result.Worker.FirstName + result.Worker.LastName;
    $('#result1').html(resultMessage);
    $('#result1').html(result);
    This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName
*@

@*<li class="btn">This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</li>*@

@*This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName
    <div id="result-@Job.JobId">you</div>
                    $('#claimButton-' + result.jobId).hide();

                    alert('guy result ' + result.worker.firstName);
                alert('guy result ' + result.jobId);
*@
@*$('#result-' + Job.JobId, resultMessage);*@
@*var temp = JSON.parse(result);*@