@model IEnumerable<MrFixIt.Models.Job>
@{
}


<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>

@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <div id="claimButton">
                <form action="ClaimJob" class="claim">
                    <input type="hidden" name="JobId" value="@Job.JobId" />
                    <button type="submit">Claim this Job</button>
                </form>
            </div>
            <div id="result-" + @Job.JobId>you</div>

        }
        else
        {

        }
        
    </ul>
    <hr />
}

<script>
    $(".claim").submit(function (event) {
        event.preventDefault();
        //alert($(this).serialize());
        $.ajax({
            url: '@Url.Action("ClaimJob")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'json',
            success: function (happy) {
                var temp = JSON.parse(happy);
                alert('guy result ' + temp.Name);
                alert('guy result ' + temp.JobId);
                /*
                console.log(result)
                var resultMessage = 'This Job is claimed by ' + result.Worker.FirstName + result.Worker.LastName;
                $('#result-' + Job.JobId).html(resultMessage);
                $('#claimButton').hide();
                */
                @*$('#result-' + Job.JobId, resultMessage);*@

            },
            error: function (xhr, ajaxOptions, thrownError) {
                window.alert('guy error' + xhr.responseText + thrownError)
            }
        });
    });
</script>


@*
        var resultMessage = 'This Job is claimed by ' + result.Worker.FirstName + result.Worker.LastName;
    $('#result1').html(resultMessage);
    $('#result1').html(result);
    This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName
*@

@*<li class="btn">This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</li>*@

@*This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName*@