@model IEnumerable<MrFixIt.Models.Job>
@{
}

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>

@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <div id="result-@Job.JobId">
                <form action="ClaimJob" class="claim">
                    <input type="hidden" name="JobId" value="@Job.JobId" />
                    <button type="submit">Claim this Job</button>
                </form>
            </div>
        }
        else
        {
            <div>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</div>
        }
    </ul>
    <hr />
}

<script>
    $(".claim").submit(function (event) {
        event.preventDefault();
         $.ajax({
            url: '@Url.Action("ClaimJob")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'json',
            success: function (result) {
                var resultMessage = 'This Job is claimed by ' + result.worker.firstName +  " " + result.worker.lastName;
                $('#result-' + result.jobId).html(resultMessage);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                window.alert('guy error' + xhr.responseText + thrownError)
            }
        });
    });
</script>
